.DS_Store
build
kannel-svn-trunk
nbproject
smpp/ksmppd
smpp/*.o
smpp/libsmpp/*.o
CMakeLists.txt
*.a
.idea
*.lo
*.o
smpp/.libs
smpp/.deps
m4/
autom4te.cache/
build-aux/
Makefile
Makefile.in
smpp/Makefile
smpp/Makefile.in
configure
config.h
config.h.in
config.log
config.status
libtool
smpp/libsmpp.la
smpp/libsmpp/.libs
smpp/libsmpp/.deps
smpp/libsmpp/.dirstamp
aclocal.m4
stamp-h1
shtool*
